@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	font-family: $franklin;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

h1 {
	color: $turquoise;
	font-family: $franklin;
}

hr {
	display: block;
	border: none;
	background: $turquoise;
	height: 2px;
	background: -webkit-gradient(linear, 0 0, 100% 0, from($white), to($white), color-stop(50%, $turquoise));
}

.btn {
	background-color: $turquoise;
	color: $white;
	font-weight: bold;
	text-decoration: none;
	padding: .5em 1em;
	border-radius: 5px;
	margin-bottom: .5em;
	display: inline-block;
	&:hover {
		background-color: $green;
	}
}